body{
	background-color:lightblue;
}
img{
	width: 20%;
	text-align: center;
	margin: auto;
}
div{
	font-family:monospace;
	font-size: 30px;
}
dl{
	color:red;
	font-size:25px;

}
h1{
	border: 5pt solid;
}